<configuration scan="true" scanPeriod="2 minutes">

    <property name="APP_NAME" value="messenger6"/>
	<property name="LOG_ERROR" value="messenger6_ERROR"/>
	<property name="LOG_LIFECYCLE" value="messenger6_LIFECYCLE"/>
	<property name="LOG_APP" value="wp"/>

        <jmxConfigurator/>

        <!-- Get the local host. -->
        <conversionRule conversionWord="h" converterClass="com.aobin.common.logging.LocalHostConverter"/>

        <property name="LOG_FORMAT" value="[%h][%date{ISO8601}][${APP_NAME}][%5level][%file:%line][%marker] %msg%n"/>

        <!-- Lifecycle appender -->
        <appender name="LIFECYCLE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_LIFECYCLE}_${APP_NAME}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <!-- daily rollover -->
              <FileNamePattern>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_LIFECYCLE}_${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
              <!-- keep 5 days worth of history -->
              <maxHistory>5</maxHistory>
            </rollingPolicy>
                <encoder>
                        <Pattern>${LOG_FORMAT}</Pattern>
                </encoder>
                <filter class="com.aobin.common.logging.LifecycleFilter"/>
        </appender>

        <!-- Error level appender -->
        <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_ERROR}_${APP_NAME}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <!-- daily rollover -->
              <FileNamePattern>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_ERROR}_${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
              <!-- keep 5 days worth of history -->
              <maxHistory>5</maxHistory>
            </rollingPolicy>
                <encoder>
                        <Pattern>${LOG_FORMAT}</Pattern>
                </encoder>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                        <level>ERROR</level>
                        <onMatch>ACCEPT</onMatch>
                        <onMismatch>DENY</onMismatch>
                </filter>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_APP}_${APP_NAME}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <!-- daily rollover -->
              <FileNamePattern>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_APP}_${APP_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>
              <!-- keep 5 days worth of history -->
              <maxHistory>5</maxHistory>
            </rollingPolicy>
                <encoder>
                        <Pattern>${LOG_FORMAT}</Pattern>
                </encoder>
        </appender>

        <!-- Only meant to be used for test classes -->
        <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <Pattern>${LOG_FORMAT}</Pattern>
                </encoder>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                  <level>INFO</level>
                  <onMatch>ACCEPT</onMatch>
                  <onMismatch>DENY</onMismatch>
               </filter>

        </appender>
        
        <property name="LOG_PERFORMANCE" value="wp_PERFORMANCE"/>
        <property name="PERFORMANCE_LOG_FORMAT" value="[%h],[%date{yyyy-MM-dd HH:mm:ss.SSS}],[%5level],[%file:%line],%msg%n"/>
              
         <!-- Debug level appender to log  PERFORMANCE metrics-->
		<appender name="PERFORMANCE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<File>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_PERFORMANCE}_${APP_NAME}.csv</File>
	    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      		<!-- daily rollover -->
	      		<FileNamePattern>${PLATFORM_LOG_DIR:-/tmp/logs}/${LOG_PERFORMANCE}_${APP_NAME}.%d{yyyy-MM-dd}.csv</FileNamePattern>
	      		<!-- keep 90 days worth of history -->
	      		<maxHistory>30</maxHistory>
	    	</rollingPolicy>
			<encoder>
				<Pattern>${PERFORMANCE_LOG_FORMAT}</Pattern>
			</encoder>
		</appender>
		
		<logger name="com.hp.epc.common.service.PerformanceMonitoringServiceImpl" level="DEBUG">
    		<appender-ref ref="PERFORMANCE_APPENDER"/> 
    	</logger>

        <root level="INFO">
                <appender-ref ref="ConsoleAppender" />
                <appender-ref ref="FILE"/>
                <appender-ref ref="ERROR_APPENDER"/>
                <appender-ref ref="LIFECYCLE_APPENDER"/>
        </root>

</configuration>
